.App {
  text-align: center;
}

header {
  background: rgba(209, 209, 199, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header h1 {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  margin: 0;
  padding: 20px;
}
